
body{	font-size: 20px;
	background-color: #ff7f00;
        font-family: verdana;
	background-image: url(bookstore.jpg);
}
h1 {	font-family: cursive;
	font-size: 150%;
	display: block;
	text-align: center;
	text-decoration: underline overline;
	color: blue;
	
}
.details{margin-left: 480px;
	 margin-top: 0;
}

h2 {	font-family: cursive;
	font-size: 1.2em;
}
.imgsec{text-align: center;
	background-color: #ff7f00;

}

a:link {
color:blue;
}
a:visited{
color: #8c8c9D;
}
a:hover {
color: #F15A51;
}